node_modules
.svelte-kit
.opencode

.git
.gitignore
docker-compose.yml
Dockerfile
Makefile
.env*

.github
.husky
.commitlintrc

build
dist

.vscode
.DS_Store

playwright.config.ts
tests/

AGENTS.md
CONTRIBUTING.md
openspec
skills
README.md
